<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">



    <div class="container mx-auto py-10 px-4">
        <div class="flex flex-col items-center relative">
          <!-- Título principal -->
          <h1 class="text-3xl font-bold mb-4">Mapa conceptual</h1>
    
          <!-- Primer concepto -->
          <div class="w-full rounded bg-white z-[100] concept relative">
            <div class="w-full h-auto rounded bg-[#F0B429] left-[-10px] top-[-10px] p-2 relative">
              <p class="text-justify m-0 text-white text-lg leading-none bg-yellow-500 p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="w-full p-2">
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="connector"></div>
          </div>
    
          <!-- Segundo concepto en la derecha -->
          <div class="w-full rounded bg-white concept relative" style="margin-left: 150px;">
            <div class="w-full h-auto rounded bg-[#F47920] left-[-10px] top-[-10px] p-2 relative">
              <p class="text-justify m-0 text-white text-lg leading-none bg-yellow-600 p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="w-full p-2">
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="connector"></div>
          </div>


          <div class="w-full rounded bg-white concept relative" style="margin-left: 150px;">
            <div class="w-full h-auto rounded bg-[#F47920] left-[-10px] top-[-10px] p-2 relative">
              <p class="text-justify m-0 text-white text-lg leading-none bg-yellow-500 p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="w-full p-2">
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="connector"></div>
          </div>


          <div class="w-full rounded bg-white concept relative" style="margin-left: 250px;">
            <div class="w-full h-auto rounded bg-[#F47920] left-[-10px] top-[-10px] p-2 relative">
              <p class="text-justify m-0 text-white text-lg leading-none bg-yellow-600 p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="w-full p-2">
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="connector"></div>
          </div>
        </div>
      </div>